<%= form_tag "/shirts", method: "GET" do %>
    <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<% @shirts.each do |shirt| %>
  <section>
   <h3><%= link_to shirt.name, shirt %></h3>
   <p>
    <%= shirt.description %>
    </p>
   <p>
    <%= image_tag shirt.image %>
    </p>
  </section>
<% end %>

